.body {
  /* background-image: url("./assets/background.png");
  background-size: contain; */
  background-image: url("./assets/background6.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
